TestClient/Service References/WwaService/WwaWebServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WwaWebServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WwaWebServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Statistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastPlayerLoggedIn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerWithMostGold" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerWithMostHealth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNumberOfPlayers" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Statistics" nillable="true" type="tns:Statistics" />
</xs:schema>